.fourth-row-stories {
  margin-top: 1% !important;

  .first{
    @media screen and (max-width: 767px) {
      padding-right:0%;
    }

    @media screen and (max-width: 992px) {
      padding-right:0%;
    }

    padding: 0 2% 0 0;
    div:last-child {
      padding-bottom: 0;
    }
    .story{
      padding-bottom: 1%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      .image{

        .side-image{
          width:100%;
          height: 100%;
        }
      }

      .content{
        background-color: white;
        .header{
          padding: 0 0 0 3%;
          font-family: Lato;
          font-size: 22px;
          line-height: 1.36;
          text-align: left;
          color: #222222;
        }

        .author{
          padding: 1% 0 0 3%;
          font-family: Lato;
          font-size: 16px;
          text-align: left;
          color: #818181;
        }
      }

    }
  }

  .second {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .main-article-img {
      width: 100%;
      height: 100%;
    }

    .main-story {
      padding: 2% 0 0 4%;

      .section {
        font-family: Lato;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.6px;
        text-align: left;
        color: #000000;

        .line-copy {
          border-bottom: solid 3px #f26c60;
        }
      }

      .title {
        font-family: Lato;
        font-size: 24px;
        line-height: 1.33;
        text-align: left;
        color: #222222;
      }

      .description {
        font-family: Lora;
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        color: #5c5c5c;
      }

      .author {
        padding-bottom: 1%;
        font-family: Lato;
        font-size: 16px;
        text-align: left;
        color: #818181;
      }
    }
  }
}