.author-icon {
  background-color: brown; }

.must-reads {
  margin-top: 2% !important;
  text-align: center;
  background-color: brown; }
  .must-reads .title {
    padding: 2% 0 0 0;
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff; }
  .must-reads .description {
    padding: 2% 0 2% 0;
    font-family: Lato;
    font-size: 38px;
    line-height: 1.32;
    text-align: center;
    color: #ffffff; }
    .must-reads .description .left_arrow {
      float: left;
      padding-left: 2%; }
    .must-reads .description .right_arrow {
      float: right;
      padding-right: 2%; }
  .must-reads .button-div {
    padding: 2% 0px 2% 0px; }
    .must-reads .button-div button {
      padding: 1% 1% 1% 1%;
      border-radius: 100px;
      border: solid 1.5px #ffffff;
      background-color: brown;
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      color: #ffffff; }

.title-politics {
  margin: 2% 0 0 0;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000; }
  @media screen and (max-width: 767px) {
    .title-politics {
      padding-left: 2%; } }
  @media screen and (max-width: 992px) {
    .title-politics {
      padding-left: 2%; } }
  .title-politics .line-copy {
    border-bottom: solid 3px #6093f2; }
