/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    background-color: #f4f4f4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav-bar {
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding:1% 0 1% 0;
    width: 100%;
}
.header-text {
    padding-left: 2%;
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
.search-img {
    height: 22px;
    float: right;
    padding-right: 2%;
}
.content-container {
    margin: 20px 4% 0 4%;
}
.main-article {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}
.main-article-img {
    height: 100%;
    width: 100%;
}
.story-title {
    margin: 2% 0 0 4%;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000000;
}
.line-copy {
    border-bottom: solid 3px #edd30d;
}
.story-headline {
    margin: 0 0 0 4%;
    font-family: Lato;
    font-size: 34px;
    line-height: 1.24;
    text-align: left;
    color: #222222;
}
.story-description {
    margin: 0 0 0 4%;
    padding-top: 2%;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #5c5c5c;
}
.auther-details {
    margin: 0 0 1% 4%;
    padding-top: 4%;
}

.auther-name {
    padding-left: 1%;
    font-family: Lato;
    font-size: 18px;
    text-align: left;
    color: #818181;
}
.posted-details {
    opacity: 0.7;
    background-color: #f4f4f4;
}
.footer{
    background-color: #212121;
    width:100%;
}
.footer-logo{
    height: 100%;
    padding: 5% 0 0 20%;
}
.footer-img{
    height: 50%;
}
.footer-content{
    padding: 2% 5% 0 0;
    text-align: right;
}
.links{
    padding: 0 0 1% 0;
    color: #ffffff;
}
.powered{
    color: #ffffff;
    padding-bottom: 1%;
}
.menu-icon{
    padding: 0 0 0 2%;
    font-size: 22px;
}
@media screen and (max-width: 767px) {
    .content-container {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 992px) {
    .content-container {
        margin: 0 0 0 0;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * remove padding
 */
.no-padding{
    padding: 0;
}
/*Padding left 2%*/
.padding-left-2{
    padding-left:2%;
}
/*
 * Remove margin
 */
.no-margin{
    margin: 0;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
